#!/usr/bin/env bash

{{ if eq .osid "linux-ubuntu" -}}

set -euo pipefail

# Add apt repositories that are not included by default
{{ range .packages.ubuntu.apt_repositories -}}
sudo add-apt-repository -y {{ . | quote -}}
{{ end -}}

# Update cache and installed programs
sudo apt update
sudo apt upgrade -y

# Install programs with apt
sudo apt install -y --no-install-recommends \
    {{ .packages.universal.package_managers | join " " -}} \
    {{ .packages.ubuntu.apt | join " " -}}

# Install programs with custom install scripts
{{ range .packages.universal.wild_west -}}
if ! command -v {{ .name }} >/dev/null 2>&1; then
    {{ .command }}
else
    echo {{ .name }} already installed
fi
{{ end }}

# Add flathub repository to flatpak
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

# Install programs with flatpak
{{ range .packages.universal.flatpak -}}
{{ range $repo, $packages := . -}}
flatpak install -y {{ $repo }} {{ $packages | join " " -}}
{{ end -}}
{{ end }}

# Install programs from git
mkdir -p ~/programs
cd ~/programs
{{ range .packages.universal.git -}}
git clone {{ .url }} || git -C {{ .url | splitList "/" | last | splitList ".git" | first }} pull
cd {{ .url | splitList "/" | last | splitList ".git" | first }}
{{ .install_command }}
{{ end }}

# Set up favourite apps
gsettings set org.gnome.shell favorite-apps "['dev.zed.Zed.desktop', 'org.gnome.Terminal.desktop', 'org.gnome.Ptyxis.desktop', 'net.waterfox.waterfox.desktop', 'org.gnome.Nautilus.desktop']"

{{ end -}}
